* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 28px;
    text-rendering: optimizeLegibility;
}


.tab-txt {
    padding-right: 60px;
}

.about-info {

    width: 100%;
}